<div class="field">
    <img src="assets/img/board.png" alt="" class="board">
    <div class="cardStack">
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/card_cover.png">
        <img (click)="pickCard()" class="topCard" style="right: 25px;" src="assets/img/cards/card_cover.png" alt="">
        <img *ngFor="let card of game?.playedCard" src="assets/img/cards/{{card}}.png" class="playedCard">
        <img (click)="pickCard()" *ngIf="game?.pickCardAnimation" class="pickCard" style="right: 25px;"
            src="assets/img/cards/{{game?.currentCard}}.png">
        <img *ngIf="game?.stack.length == 0" src="assets/img/cards/last_card.png">
    </div>
</div>

<div class="playerContainer">
    <app-player *ngFor="let player of game?.players; let i = index;" [ngStyle]="{'top.px': 12 + i * 90}"
        [name]="player" [playerActive]="i == game?.currentPlayer" class="playerPosition"></app-player>
    </div>

    <app-game-info [card]="game?.currentCard" class="pinBottom"></app-game-info>
    
<div class="btnAdd">
    <button mat-fab color="basic" (click)="openDialog()" [ngStyle]="{'margin-top.px': 8}">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="basic" (click)="refreshGame()" [ngStyle]="{'margin-top.px': 8}">
        <mat-icon>refresh</mat-icon>
    </button>
</div>