<div class="field">
    <img src="/assets/img/board.png" alt="" class="board">
    
    <div class="cardStack">
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
        src="/assets/img/cards/card_cover.png" alt="">
        <img (click)="pickCard()" class="topCard" style="right: 25px;" src="/assets/img/cards/card_cover.png" alt="">
        <img *ngFor="let card of game.playedCard" src="/assets/img/cards/{{card}}.png" class="playedCard">
        <img (click)="pickCard()" *ngIf="pickCardAnimation" class="pickCard" style="right: 25px;"
        src="/assets/img/cards/{{currentCard}}.png" alt="">
    </div>
    
</div>

<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + i * 90}" [name]="player"
    [playerActive]="i == game.currentPlayer" class="playerPosition"></app-player>

<app-game-info [card]="currentCard" class="pinBottom"></app-game-info>

<button mat-fab color="basic" class="btnAdd" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>